body {
  color: #031b4e;
}

.bl-navbar {
  height: 60px;
}

.logo {
  height: 30px;
}

.bl-navbar ul {
  margin-bottom: 0;
}

.bl-navbar li {
  display: inline-block;
  padding-right: 15px;
  line-height: 60px;
}

.bl-navbar li:last-of-type {
  padding-right: 0;
}

.bl-button {
  color: #0069ff;
  border: 1px solid #0069ff;
  border-radius: 5px;
  padding: 0 5px;
  line-height: 30px;
}

.bl-navbar a {
  color: #031b4e;
  text-decoration: none;
}

.bl-navbar a:hover {
  color: #0069ff;
}

.bl-button:hover {
  color: white;
  background-color: #0069ff;
}

.jumbotron-container {
  background-image: url("../img/fish-bg.svg");
  background-position: cover;
  padding: 40px 0;
}

.jumbo-left {
  color: white;
}

h1 {
  font-size: 50px;
  font-weight: bold;
}

.jumbo-left p {
  font-size: 19px;
  opacity: 0.8;
}

.jumbo-right {
  text-align: center;
  padding: 0 15px;
}

.jumbo-form {
  background-color: white;
  padding: 15px;
  border-radius: 5px;
}

.jumbo-form h3:nth-of-type(2) {
  color: #0069ff;
}

.jumbo-form button {
  width: 100%;
}

.jumbo-form input, .jumbo-form button {
  margin: 10px 0;
}

#form-bottom {
  padding-bottom: 40px;
}

.grey-bg {
  background-color: #F3F5F9;
}

.logos-container {
  padding: 30px 0;
}

.sub-jumbo {
  font-weight: bold;
  color: grey;
}

.logos {
  vertical-align: middle;
  padding: 0 25px;
  margin: 30px 0;
}

.section-title {
  font-weight: bold;
  padding-bottom: 20px;
}

.sub-section-title {
  padding-bottom: 40px;
  color: grey;
  font-weight: bold;
}

.deploy-section button {
  border: 0;
  border-left: 1px solid;
  font-weight: bold;
  color: grey;
  background-color: transparent;
  text-decoration: none;
  padding: 10px 5px;
}

.deploy-section button:hover {
  color: darkblue;
}

.bl-buttons {
  margin-bottom: 20px;
}

.deploy-section .nested {
  margin-bottom: 20px;
}

h5 {
  font-weight: bold;
  padding: 5px 0;
}

p {
  font-size: 13px;
}

.deploy-container {
  padding: 30px 0;
}

.deploy-section {
  padding: 0 10%;
}

.designed-container {
  padding: 20px 0;
}

.scroll-img img {
  width: 40%;
  padding: 0 20px 10px 20px;
}

.scroll-img i {
  font-size: 2em;
}

.circle {
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 1px solid #0069ff;
  border-radius: 50%;
  margin-top: 5px;
  margin-bottom: 30px;
}

.sub-scroll-img {
  margin-top: 10px;
}

.sub-scroll-img .circle:first-of-type, .circle:hover {
  background-color: #0069ff;
}

.features-container {
  padding: 30px 0;
}

.regions-container {
  background-image: linear-gradient(#0047c5, #001e9a);
  color: white;
  padding: 40px 0;
}

.regions-container ul {
  border-bottom: 1px solid;
  padding: 2px 10px;
}

.regions-container ul:last-child {
  border-bottom: 0;
}

.regions-container ul li {
  display: inline-block;
}

.regions-container ul li:first-child {
  width: 70px;
  font-weight: bold;
}

.regions-container ul li:last-child {
  float: right;
}

.regions-container ul li:last-child a {
  text-decoration: none;
  color: #00d7d2;
}

.regions-container ul li:last-child a:hover {
  color: #0069ff;
}

.white-title {
  color: white;
  font-weight: bold;
  padding-bottom: 20px;
}

.development-container {
  padding: 50px 0;
}

.bl-carousel {
  width: 50%;
  background-color: white;
  display: inline-block;
  vertical-align: middle;
  padding: 50px 5px;
  margin: 0 20px;
}

.bl-carousel img {
  width: 50%;
}

.bl-carousel div:first-of-type {
  font-size: 20px;
  padding: 15px 0;
}

.bl-carousel div:nth-of-type(2) {
  font-weight: bold;
}

.bl-carousel div:last-of-type {
  padding-top: 30px;
}

.get-started-container {
  background-image: linear-gradient(#0047c5, #001e9a);
  padding: 40px 0;
}

#get-started-btn {
  color: #0069ff;
  padding: 6px;
  border-radius: 5px;
}

.footer-container {
  background-color: #031c4e;
  color: #ffffff80;
  padding: 10px 0;
}

.footer-container h5 {
  color: white;
}

.footer-container a {
  color: inherit;
  text-decoration: none;
}

.footer-container a:hover {
  color: white;
}

.footer-logo {
  padding-bottom: 20px;
}

.footer-icons {
  padding-top: 10px;
}

.footer-icons a {
  font-size: 20px;
  padding-right: 10px;
}
